<li>
  <h5>{{answer.content}}</h5>
  <p><small>{{answer.author}}, <i>{{answer.date}}</i></small></p>
  {{answer-update answer=answer updateAnswer1='updateAnswer2' deleteAnswer1='deleteAnswer2'}}
</li>
