<div id='heading'>
  <h1>Seattle Tech Forum</h1>
  <h3>Discussion board for tech-minded people in Seattle</h3>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>

<hr>
<footer>
  Use of this site constitutes acceptance of our User Agreement and Privacy Policy. We are not responsible for any misinformation. © 2017 Bryan Inc. All rights reserved.
</footer>
