<div class='well container'>
  <h3>Contact</h3>
  <h5>Email: info@seattletechforum.com</h5>
  <h5>Address: Seattle, WA</h5>
</div>

<div class='well container'>
  <h3>For more programming resources, visit any of our partners below:</h3>
  <ul>
  <li><a href='https://epicodus.com/'>Epicodus</a></li>
  <li><a href='https://stackoverflow.com/'>Stack Overflow</a></li>
  <li><a href='https://www.emberjs.com/'>Ember.js</a></li>
  </ul>
</div>
